*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container{
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('steptodown.com627923.jpg');
    background-size: cover; /* Image height will fill the viewport height */
    background-position: center; /* Centers the image horizontally */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 10px 8%;
    overflow: hidden;
  }

  .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 7px;
  }


  .contact ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
  }

  .contact ul li a{
    text-decoration: none;
    color: white;
  }

.contact .fa-solid{
  margin-right: 10px;
}

.fa-brands{
  color: white;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}


  nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0;
  }


  .logo{
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }

  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
    
  }

  nav ul li a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.5s;
  }

  nav ul li a:hover:after{
    width: 100%;
  }

  .right{
    display: flex;
  }

  .call{
    background: transparent;
    padding: 4px 8px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  #menu-icon{
    color: white;
    font-size: 20px;
    margin-left: 8px;
    display: none; 
  }


  .content{
    max-width: 750px;
    margin-top: 11%;
    color: white;
  }
  
  .content h1{
    font-size: 40px;
    margin-bottom: 25px;
  }

  .content p{
    font-size: 30px;
    margin-bottom: 40px;
  }

  .content-btn{
    margin-top: 50px;
  }

  .btn1{
    padding: 10px 25px;
    background-color: white;
    color: black;
    font-size:18px;
    font-weight: bold;
    margin-right: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .btn2{
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
  }


.anim{
  opacity: 0;
  transform: translateX(30px);
  animation: moveright 0.5s linear forwards;
}

@keyframes moveright{
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}


@media (max-width:850px){

  .logo{
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .right{
    display: flex;
  }

  #menu-icon{
    color: white;
    font-size: 20px;
    margin-left: 8px;
    display: block;
    z-index: 1001; 
  }

  .navlinks{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 100%;
    padding-top: 100px;
    align-items: center;
    backdrop-filter: blur(25px);
    transition: all .7s ease;
    z-index: 1000;
   
  }

  .navlinks a{
    margin: 0 0 30px 0;
    display: block;
  }

  .navlinks.open{
    right: 0;
}

.content{
  max-width: 520px;
  margin-top: 20%;
  color: white;
}

.content h1{
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 30px;
}

.content p{
  font-size: 20px;
  margin-bottom: 40px;
}

.content-btn{
  margin-top: 40px;
}

.btn1{
  padding: 8px 20px;
  background-color: white;
  color: black;
  font-size:15px;
  font-weight: bold;
  margin-right: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn2{
  padding: 8px 20px;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
}


}

@media (max-width:500px){
  .icon{
    display: flex;
  }

  .contact ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;
  }

  .fa-brands{
    color: white;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
  }


  .logo{
    color: white;
    font-size: 17px;
    text-decoration: none;
  }


  .call{
    background: transparent;
    padding: 3px 7px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .content{
    max-width: 600px;
    margin-top: 20%;
    color: white;
  }
  
  .content h1{
    font-size: 21px;
    margin-bottom: 20px;
  }

  .content p{
    font-size: 18px;
    margin-bottom: 30px;
  }

  .content-btn{
    margin-top: 25px;
  }

}


@media (max-width:500px){
  .content-btn{
    margin-top: 20px;
    display: flex;
  }

  .btn1{
    padding: 6px 18px;
    background-color: white;
    color: black;
    font-size:12px;
    font-weight: bold;
    margin-right: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .btn2{
    padding: 6px 18px;
    background-color: transparent;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
  }
}
